/** =================================
Base font settings
================================= **/

@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600&family=Inconsolata&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

	body {
		font-family: 'Quattrocento Sans', Helvetica, Roboto, Arial, sans-serif;
	}
	pre {
		font-family: "Inconsolata", Courier, monospace;
	}
	
/** == Header styling **/

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		font-family: "Halant", Garamond, serif;
	}

	.serif {
		font-family: "Halant", Garamond, serif;
	}

	.sans, .subheadline {
		font-family: 'Quattrocento Sans', Helvetica, Roboto, Arial, sans-serif;
	}

/** =================================
Nav and Menu Elements
================================= **/

/** == Top Nav **/

	.top-bar, .top-bar ul {
		font-family: 'Quattrocento Sans', Helvetica, Roboto, Arial, sans-serif;
	}

